<div class="container">
	<img src="geonminkim_circle_rmbackgnd.PNG" alt="." width="20%" height="20%" align="right">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.googlescholar -%}
			<a href="https://scholar.google.com/citations?hl=ko&user{{ site.texture.social_links.googlescholar }}"><li><i class="icon-book"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.CV -%}
			<a href="{{ site.texture.social_links.CV }}"><li><i class="icon-address-card"></i></li></a>
		{%- endif -%}
	</ul>
</div>
